p{
    background-color: blueviolet;
    color: aliceblue;
    font-size: larger;
}

h1{
    background-color: blue;
    color: aliceblue;font-style: italic;
}

h2{
    background-color: brown;
    color: antiquewhite;
}