.header{
    margin-left: 43%;
    color: rgb(79, 83, 134);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.registrationbox{
    margin-left: 37%;
    margin-right: 30%;
    margin-top: 5%;
    /* padding-top: 100px; */
    border: solid 1px  ;
    padding-top: 20px;
    padding-left: 5%;
    background-color: rgb(79, 83, 134);
    border-radius: 10px;
    box-shadow: 10px 10px 10px gray;
}

.input{
    margin: 20px;
}





.label{
    float: left;
    width: 30%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.submit{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 25%;
}



.insidebutton{
    padding: 15px;
    border-radius: 30px;
    background-color:rgb(168, 171, 223) ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:medium;
    border: none;
    color: white;
    font-weight: 600;
}

.insidebutton:hover{
    background-color: white;
    color: rgb(69, 69, 119) ;
    cursor: pointer;
}

